{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>
        <nav>
           <label class="nav" for="">EstoqueADS 
        

            </label>
        </nav>
    </header>
    <main>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>cod</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>batata</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates et dolore earum commodi velit amet quo hic unde ducimus illum, sit itaque, nobis debitis laboriosam molestias mollitia perspiciatis ex eos!</td>
                        <td>feijão</td>
                        <td>salgadinho</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </main>
    {% for produto in produtos %}
    <h1>{{produto.name}}</h1>
    {%endfor%}
    
</body>
</html>





