{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>
        <nav>
           <label  for="">EstoqueADS  </label>   
        </nav>
    </header>
    <main>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>batata</td>
                        <td><a href="{% url 'product-detail' produto.id %}"> {{produto.name}} </a></td>
                        <td>feijão</td>
                        <td>salgadinho</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
    </main>
   
    
</body>
</html>





