
body {

    background-color: rgba(252, 186, 3, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    background-color: #c9c3b7;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
}

input {

    width: 90%;
    border-radius: 10px;
}

