* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font: normal 20pt Arial;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(216, 24, 24);
    border-radius: 15px;
}

/* body{

    background-color: rgb(160, 150, 150);
   
} */

nav {
    background-color: rgb(207, 191, 191);
    height: 100px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
   
}

table {
    width: 50%;
    background-color:rgb(243, 151, 31);
    margin-left: 25%;
    margin-top: 2%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    
    color: white;
    font-weight: bold;
}


td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    color: black;
    
}

 a {
    text-decoration: none;
    color: black;
} 


 .botao-add {

    background-color: #3498db;
    font: normal 10pt Arial;
    color: white;
    width: 10px;
    height: 10px;
    
} 

