* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {

    font: normal 15pt Arial;
    height: 10px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: yellow;
}

body{

    background-color: #c8ebf7;
   
}

nav {
    background-color: #485ba0;
    height: 100px;
    display: flex;
    align-items: center;
    
   
}

table {
    width: 50%;
    background-color:#192442;
    margin-left: 25%;
    margin-top: 2%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    
    color: white;
    font-weight: bold;
}


td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    color: black;
    
}

 a {
    text-decoration: none;
    color: white;
    
} 

.btn {
   
}


 .botao-add {

    display: flex;
    font-display: flex;
    justify-content: center;
    align-items: center;
    background-color: #192442;
    font: normal 10pt Arial;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;

    
} 

