* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font: normal 20pt Arial;
    color: #3498db;
    margin-left: 10px;
    border: solid 2px #3498db;
    background-color: white;
    border-radius: 15px;
}

body{

    background-color: rgb(15, 15, 15);
   
}

nav {
    background-color: rgb(8, 8, 8);
    height: 100px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
   
}

table {
    width: 50%;
    background-color:antiquewhite;
    margin-left: 25%;
    margin-top: 2%;
    /* border-collapse: collapse; */
    font-family: Arial, sans-serif;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}


td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    color: black;
    
}

a {
    text-decoration: none;
    color: black;
}

button {

    background-color: red;
}

